body {
  font-family: 'Indie Flower';
}

a {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  letter-spacing: 0.75px;
  font-weight: 200;
  font-size: $font-size-small;
  line-height: 35px;
}

h1 {
  font-weight: 600;
  font-size: $font-size-xlarge;
  line-height: 60px;
  font-family: 'Luckiest Guy';
}

h2 {
  font-weight: 400;
  font-size: 48px;
  margin-bottom: $spacing-large;
}

h3 {
  font-weight: 400;
  font-size: $font-size-small;
}

label{
  display: block;
  margin-bottom: $spacing-xsmall;
}